<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sample.ar.artoolkit.org.armarkerdistancegl20">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".ARDistanceGL20Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
